body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  /* background: #7affd1; */
  background-image: linear-gradient(to right, #ffffff00, #ffffff80), url("./Components/bg-1.png");
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5em;
  box-shadow: 2px 2px 4px #808080;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

nav a {
  color: #505050;
  text-decoration: none;
}

#title {
  font-size: 40px;
  color: #505050;
}

button, input[type="submit"] {
  /* background: #fae7dc; */
  background-color: transparent;
  font-weight: bold;
  padding: 0.5em 1.2em 0.5em 1.2em;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.Home, .Show, .Index {
  text-align: center;
}

table {
  /* background-color: #eefafc; */
  /* border-collapse: separate; */
  /* border-radius: 8px; */
  border-spacing: 0 1.5em;
  margin: auto;
  padding-top: 1.5em;
  width: 60%;
}

td {
  border-bottom: 0.1em solid #606060;
  padding-bottom: 0.5em;
  text-align: left;
}

.tr-date {
  width: 25%;
}

.tr-amount {
  text-align: right;
}

.tr-name {
  color: #45bee2;
}

/* tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
} */

.New form {
  margin: auto;
  width: 95%;
}

input {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="submit"] {
  width: 30%;
}

/* .tr-page {
  margin: 3em 0 0 10em;
} */

.tr-detail {
  /* background-color: #b2edff; */
  background-image: url("./Components/bg-2.png");
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px #808080;
  /* margin: 0 10em 1em 0; */
  margin: auto;
  padding: 1.5em 1.5em 1.5em 2.5em;
  text-align: left;
  width: 60%;
}

.showNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 1.5em;
  width: 50%;
}
