body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background: #7affd1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  box-shadow: 2px 2px 4px #808080;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

nav a {
  color: #505050;
  text-decoration: none;
}

#title {
  font-size: 40px;
  color: #505050;
}

button, input[type="submit"] {
  /* background: #fae7dc; */
  background-color: transparent;
  font-weight: bold;
  padding: 0.4em 1em 0.4em 1em;
}

/* nav button {
  background: #003054;
} */

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.Home, .Show, .Index {
  text-align: center;
}

table {
  /* background-color: #eefafc; */
  /* border-collapse: separate; */
  /* border-radius: 8px; */
  border-spacing: 0 1.5em;
  margin: auto;
  padding-top: 1.5em;
  width: 60%;
}

td {
  border-bottom: 0.1em solid #606060;
  padding-bottom: 0.5em;
  text-align: left;
}

.tr-date {
  width: 25%;
}

.tr-amount {
  text-align: right;
}

.tr-name {
  color: #45bee2;
}

/* tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
} */

/* tbody tr:nth-child(even) {
  background: #fbf4f0;
} */

/* .New {
  border: 1px solid gold;
  margin: auto;
  width: 95%;
} */

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.tr-page {
  margin: 3em 0 0 10em;
}

.tr-detail {
  background-color: #8be4ff;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px #808080;
  /* margin: 0 10em 1em 0; */
  padding: 1.5em;
  padding-left: 2.5em;
  text-align: left;
  width: 80%;
}

.showNavigation {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5em;
  width: 50%;
}
